* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

.main-section {
  display: grid;
  grid-template-columns: 20% 80%;
}

.main-section .sidebar {
  height: 100vh;
  border-right: 1px solid black;
}

.main-section .main-content {
  height: 100vh;
}
